<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
    <div><h1 class="welcome-header">Welcome!!!!</h1></div>
    <div class="blue-box-container">
        {% for i in range(times) %}
            <div style="background-color:{{color}}" class="blue-boxes"></div>
        {% endfor %}
        
    </div>
</body>
</html>
        
        






<!--<link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">-->